/******************** Base ********************/
body											{ font-family: helvetica, arial, sans-serif; line-height: 1.5; background: white; color: black; }
h1, h2, h3, h4, h5, h6							{ line-height: 1.2; }
h4, h5, h6										{ font-weight: bold; }
b, strong, caption, th, thead, dt, legend		{ font-weight: bold; }
cite, dfn, em, i								{ font-style: italic; }
code, kbd, samp, pre, tt, var					{ font-family: mono-space, monospace; }
h1, h2, h3, h4, h5, h6							{ word-spacing: -0.125em; }
p												{ word-spacing: 0.125em; hyphenate: auto; hyphenate-lines: 3; }
pre												{ white-space: pre; }
del												{ text-decoration: line-through; }
small, sup, sub									{ font-size: 80%; }
big												{ font-size: 125%; line-height: 80%; }
blockquote										{ padding: 1.5em; }
hr												{ border: none; background: #ddd; width: 100%; }
ul, ol											{ margin-left: 1.5em; }
ul												{ list-style: none; }
ol												{ list-style: decimal outside; }
input, select, button							{ cursor: pointer; }
table											{ font: inherit; width: 100%; }


/******************** Baseline grid: 13/18px ********************/
body								{ font-size: 75%; line-height: 1.5; /*12/18*/}

h1, h2, h3, h4, h5, h6				{ position: relative; }
h1, h2								{ line-height: 36px; margin-bottom: 18px; }
h1, h2, h3, h4						{ margin-top: 18px; }
h3, h4, h5, h6						{ line-height: 18px; }
h1									{ font-size: 36px; top: 5px; }
h2									{ font-size: 28px; top: 8px; }
h3									{ font-size: 22px; top: 1px; }
h4									{ font-size: 18px; top: 2px; }
h5									{ font-size: 15px; top: 4px; }
h6									{ font-size: 13px; top: 5px; }

p, pre, address						{ font-size: 13px; line-height: 18px; position: relative; top: 5px; }
abbr, code, kbd,
samp, small, var					{ line-height: 15px; }
ul, ol, dl, dialog					{ font-size: 13px; line-height: 18px; position: relative; margin-top: 18px; margin-bottom: 18px; }
li ul, li ol, ul ul, ol ol			{ top: 0; margin-top: 0; margin-bottom: 0; }
li h1, li h2, li h3,
li h4, li h5, li h6,
li p								{ top: 0; }
form, legend, label					{ font-size: 13px; line-height: 18px; }
legend								{ position: relative; top: 5px; }
input, textarea						{ font-size: 12px; }
table								{ font-size: 13px; }
caption								{ font-size: 13px; line-height: 18px; position: relative; }
hr									{ position: relative; height: 4px; margin: 18px 0 14px 0; }